@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-slate-50 dark:bg-gray-950 text-gray-900 dark:text-gray-100 transition-colors duration-300;
}

@theme {
  --font-orbitron: "Orbitron", sans-serif;
  --font-rajdhani: "Rajdhani", sans-serif;
}
@theme {
  --grid-template-rows-12: repeat(12, minmax(0, 1fr));
}
html {
  scroll-behavior: smooth;
}