@import "tailwindcss";

@theme {
  --font-orbitron: "Orbitron", sans-serif;
  --font-rajdhani: "Rajdhani", sans-serif;
  --grid-template-rows-12: repeat(12, minmax(0, 1fr));
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-gray-900 transition-colors duration-200;
}